<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498007997997-iqao5vo5lsql4igooa43p07408r2avsu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498007997997-iqao5vo5lsql4igooa43p07408r2avsu</string>
	<key>API_KEY</key>
	<string>AIzaSyDhcR5C9VNyTVl0GemR32egNr3LUY6tttU</string>
	<key>GCM_SENDER_ID</key>
	<string>498007997997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-d22e8</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-d22e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498007997997:ios:691136fd87f517eb0b82a4</string>
</dict>
</plist>